.statsCont {
    padding: 0 20px;
}

.statsHead {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
        width: 100%;
        max-width: 56px;
        height: 56px;
    }
}